@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --font-title: "Tinos", serif;
  --font-p: "Kanit", sans-serif;
  --color-title-font: #f4143f;
  --color-p-font: #edb217;
  --color-bg: #fcf5e4;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  cursor: url("../img/cursor.png"), auto;
  padding: 0px 80px;
  margin: 0;
  background: url("../img/darksoulsgif.gif") no-repeat center/cover;
  height: 100vh;
}

h1 {
  margin: 50px 0 30px 0;
  text-align: center;
  color: var(--color-title-font);
  font-family: var(--font-title);
  text-shadow: 2px 2px 4px #160202;
  font-size: 3rem;;
}

p {
  padding: 10px 60px 0px 60px;
  font-family: var(--font-p);
  color: var(--color-p-font);
  text-shadow: 1px 1px 1px #5f4f1b;
  min-width: 100px;
}
